# OSX
.DS_Store
.AppleDouble
.LSOverride

# SublimeText
## cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

## workspace files are user-specific
*.sublime-workspace

## project files should be checked into the repository, unless a significant
## proportion of contributors will probably not be using SublimeText
# *.sublime-project

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.mypy_cache
cover/

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#local user configs
.env
